<button class="btn btn-primary" ui-sref="client">Nuevo Cliente</button>
<br />
<table class="table table-striped" ng-init="fetchAll()">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>E-Mail</th>
      <th>Telefono</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, value) in items">
      <td>{{value.firstname}}</td>
      <td>{{value.lastname}}</td>
      <td>{{value.email}}</td>
      <td>{{value.telephone}}</td>
      <td><a href="" ui-sref="client({documentId: key})">Editar</a> | <a href="" ng-click="delete(key)">delete</a></td>
    </tr>
  </tbody>
</table>
